body{
    font-family: Arial;
    background:#f4f4f4;
    margin:30px;
}

section{
    background:white;
    padding:20px;
    margin-bottom:30px;
    border-radius:8px;
}

.box{
    background:#3498db;
    color:white;
    padding:30px;
    text-align:center;
    

}

/* GRID BÁSICO */

.grid-basico{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(2 ,100px);
    gap: 10px;
}

/* GRID TEMPLATE AREAS */

.grid-areas{
    display: grid;
    grid-template-columns:  1fr 2fr 1fr 200px;
    grid-template-rows:repeat(3 , 150px);
    grid-template-areas: 
    "header header  header header"
    "nav main aside aside"
    "nav footer footer footer"

    ;

}

header{
    grid-area: header;
    background-color: aquamarine;   
}

nav{
    grid-area: nav;
    background-color: antiquewhite;
}

main{
    grid-area: main;
    background-color: #3498db;
}

aside{
    grid-area: aside;
    background-color:blueviolet;
}

footer{
    grid-area: footer;
    background-color: black;
    color:white;
}

/* PSEUDO CLASSES */

/* :checked */

input[type="checkbox"]:checked{
    transform: scale(1.5);
}

/* :focus */

input[type="text"]:focus{
    transition: 300ms;
    border:  solid rgb(0, 0, 0) 2px;
    border-radius: 10px;
    outline:none;
}

/* :nth-child */

.lista li:nth-child(even){
    background:#ddd;
}

.lista li:nth-child(odd){
    background:#bbb;
}

/* PSEUDO ELEMENTOS */

.pseudo-texto::before{
    content: ">";
}

.pseudo-texto::after{
    content: "<";
}


/* Transform e Position */

.grid-normal{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.scale:hover{
    transform: scale(1.3);
}

.rotate:hover{
    transition: 1000ms;
    transform: rotate(180deg);
}

.translate:hover{
    transform: translate(-10px);
}



/* RGB LED com Keyframe*/

.rgb-led{
    width:200px;
    height:200px;
    border-radius:20px;

    background:linear-gradient(
        45deg,
        red,green,blue,
        red,green,blue,
        red,green,blue
    );

    background-size:400% 400%;
    animation: rgb 2s infinite linear;
}


@keyframes rgb{

    0%{
        background-position:0% 50%;
    }

    50%{
        background-position:50% 50%;
    }

    100%{
        background-position:100% 50%;
    }

}

/* Giro */

.negocioquegira{
    
    animation: girar 1s infinite;
    border: 2px solid black;
}

@keyframes girar {
    from {
        transform: rotateX(0deg);
    }
    to{
        transform: rotateX(360deg);
    }
}